/* // Principal // */
html, body {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* // Info y logo // */
#info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	margin: 20vh 0 0 calc(50% - 430px);
}

/* // Canvas, crear y descargar // */
#menu_canvas {
	display: flex;
	flex-direction: column;
	height: 550px;
	margin: 20vh 0 0 20px;
}

#canvas {
	border-style: none;
	border-color: red;
	background-color: #F5F5F5;
	width: 500px;
	height: 500px;
}

.boton {
	display: flex;
	justify-content: center;
	margin: 0 0 5px 0;
	width: 100px;
	height: 100%;
	background-color: #303030;
	border: none;
	color: #ffffff;
	font-family: 'fivo_sans_modernregular';
	font-size: 12px;
	text-align: center;
	padding: 10px 0 10px 0;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}

.boton:focus {
	outline: 0;
}

.boton:hover {
	background-color: #181818;
	outline: 0
}

.boton:active {
	background-color: #000000;
	outline: 0;
}

.boton::-moz-focus-inner {
	border: 0;
}

.icono_boton {
	height: 150%;
	margin: -4px;
}

#crear_descargar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 35px;
	margin: 15px 0 0 0;
}

#crear {
	margin: 0 10px 0 0;
}

#menu_descarga {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 0;
	height: 100%;
	background-color: #303030;
}

#descargar {
	margin-left: 50px;
}

.number_form {
	color: #000000;
	font-size: 12px;
	width: 60px;
	align-self: center;
	margin: 0 0 0 5px;
}

input[type="number"], textarea {
  background-color : #303030;
}

#cantidad_numero {
	width: 55px;
	border-style: none;
	color: #ffffff;
	font-family: 'fivo_sans_modernbold';
	font-size: 13px;
}

.tippy-box {
  background-color: #181818;
  font-size:11px;
}

.tippy-content {
  font-family: 'fivo_sans_modernregular';
}

/* // Checks y sliders // */
#menu_opciones {
	display: flex;
	flex-direction: column;
	height: 500px;
	margin: 20vh 0 0 20px;
}

.check_form {
	margin-top: 5px;
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	vertical-align: center;
}

input[type="checkbox"] {
	vertical-align: middle;
	background-color: #ff0000;
}

input[type="checkbox"] + label {
	color: #000000;
	font-family: 'fivo_sans_modernregular';
}

#opciones {
	margin: 30px 0 0 0;
}

.slider {
	color: #000000;
	font-family: 'fivo_sans_modernregular';
	font-size: 11px;
	margin: 10px 0 0 0;
}

/* // Fuentes y estilos de texto // */
@font-face {
	font-family: 'fivo_sans_modernbold';
	src: url('fonts/fivosansmodern-bold-webfont.woff2') format('woff2'), url('fonts/fivosansmodern-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fivo_sans_modernregular';
	src: url('fonts/fivosansmodern-regular-webfont.woff2') format('woff2'), url('fonts/fivosansmodern-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arial-unicode';
	src: url('fonts/arial-unicode-ms.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.texto_svg {
	font-family: 'arial-unicode';
	src: url('arial-unicode-ms.ttf') format('truetype');
}

p {
	font-family: 'fivo_sans_modernregular';
	font-size: 11px;
}

a {
	font-family: 'fivo_sans_modernregular';
	font-size: 11px;
}

a.link_normal:link {
  transition: color .2s linear;
  color: #555555;
  text-decoration: none;
}

a.link_normal:visited {
  color: #555555;
  text-decoration: none;
}

a.link_normal:hover {
  color: black;
  text-decoration: underline;
}

a.link_info:link {
  transition: color .2s linear;
  color: #555555;
  text-decoration: none;
}

a.link_info:visited {
  color: #555555;
  text-decoration: none;
}

a.link_normal:hover {
  color: black;
  text-decoration: none;
}


h5 {
	font-family: 'fivo_sans_modernbold';
}
